
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

@font-face {
    font-family: Orbitron;
    src: url('resources/theleagueof-orbitron/webfonts/orbitron-light-webfont.ttf');
}

body {
    margin: 0;
    padding: 0;
    background: #131516;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}

h1, h2, h3 {
    margin-top: 0;
    color: #FFFFFF;
    font-family: Orbitron;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
}

ul {
    list-style-image: url(images/img07.gif);
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #CCCCCC;
    color: #FFFFFF;
}

a:hover {
    border-bottom: none;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

/* Header */

#logo {
    width: 1000px;
    height: 88px;
    margin: 0 auto;
    padding: 0 10px;
}

#logo h1, #logo p {
    float: left;
    margin: 0;
    color: #FFFFFF;
}

#logo h1 {
    padding: 30px 0 0 0;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 3em;
}

#logo p {
    text-transform: uppercase;
    padding: 52px 0 0 3px;
    font-size: 10px;
    color: #616161;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* Menu */

#menu {
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
    background: #131516;
}

#menu a {
    display: block;
    float: left;
    background: #1F1F1F;
    margin: 0 3px 0 0;
    padding: 8px 15px 10px 15px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}

#menu a:hover {
    background: #000000;
    margin: 0 3px 0 0;
    padding: 8px 15px 10px 15px;
    color: #FFFFFF;
}

#menu .current_page_item a {
    background: #000000;
    margin: 0 3px 0 0;
    padding: 8px 15px 10px 15px;
    color: #FFFFFF;
}

/* Wrapper */

#wrapper {
    background: #000000;
}

/* Page */

#page {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

#page-bg {
    padding: 11px 24px;
    background: url(images/img03.jpg) no-repeat;
}

/* Latest Post */

#latest-post {
    padding: 20px;
    border: 1px solid #E7E7E7;
}

/* Content */

#content {
    float: left;
    width: 67%;
}

.post {
    margin-bottom: 20px;
    padding-bottom: 15px;
    line-height: 200%;
}

.post h1 {
    font-weight: normal;
    font-size: 30px;
}

.post h2 {
    font-size: 24px;
}

.title {
    margin: 0;
    padding-bottom: 6px;
    background: url(images/logo_astrabot_green_on_black.svg) no-repeat right 50%;
    background-size: 20px 20px;
    font-weight: normal;
}

.title a {
    border-bottom: none;
}

.title a:hover {
    border-bottom: 1px dotted #CCCCCC;
}

.byline {
    border-top: 1px solid #0A8A0A;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.entry {
    overflow: hidden;
}

.links {
    font-size: 11px;
    background: #0A8A0A;
}

.links a {
    margin-left: 15px;
    padding-left: 10px;
    background: url(images/links.gif) no-repeat left 50%;
    border: none;
}

.links a:hover {
}

.links .comments {
}

/* Sidebars */

.sidebar {
    float: right;
    width: 30%;
    padding: 0 0 0 21px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
    padding: 5px 0 5px 0px;
}

.sidebar li h2 {
    margin: 0 0 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #0A8A0A;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

/* Search */

#searchform {
    margin: 0;
    padding: 0;
}

#searchform br {
    display: none;
}

#s {
    margin: 0;
    padding: 2px 2px;
    width: 120px;
    height: 18px;
    border: 1px solid #0A8A0A;
    background: #000000;
    font-size: 10px;
    color: #FFFFFF;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #0A8A0A;
    border: 1px solid #0A8A0A;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}
/* Calendar */

#calendar_wrap {
    padding: 0;
    text-align: center;
}

#calendar_wrap table {
    width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
    border: none;
}

#calendar_wrap tfoot td#prev {
    text-align: left;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#prev a {
    border: none;
}

#calendar_wrap tfoot td#next {
    text-align: right;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#next a {
    border: none;
}

/* Footer */

#footer {
    height: 50px;
}

#footer p {
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #FFFFFF;
}

#footer a {
    color: #FFFFFF;
}
