<div id="logo">
  <h1><a href="#">Showcase </a></h1>
  <p>Designed By TEMPLATED</p>
</div>
<div id="menu">
  <ul id="main">
    <li {% if page.title == 'home' %} class="current_page_item"{% endif %}>
      <a href="{{site.baseurl}}/">Homepage</a>
    </li>
    <!--
    <li><a href="#">Products</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    -->
  </ul>
  <!--
  <ul id="feed">
    <li><a href="#">Entries RSS</a></li>
    <li><a href="#">Comments RSS</a></li>
  </ul>
  -->
</div>
