<div id="logo">
  <h1>Astrabot</h1>
  <p>team</p>
</div>
<div id="menu">
  <ul id="main">
    <li {% if page.title == 'home' %} class="current_page_item"{% endif %}>
      <a href="{{site.baseurl}}/">home</a>
    </li>
    {% for p in site.pages %}
    {% if p.title != 'home' and (p.mainpage == nil or p.mainpage == true) %}
    <li {% if page.title == p.title %} class="current_page_item"{% endif %}>
      <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
