<div id="sidebar1" class="sidebar">
  <ul>
    <li>
      <h2>News récentes</h2>
      <ul>
	{% for post in site.posts limit: 5 %}
	<li>
	  <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
	  <em>{{post.date | date: "%Y-%m-%d"}}</em>
	</li>
	{% endfor %}
      </ul>
    </li>

    <li>
      <h2>Partenaires</h2>
      <ul>
	{% for sponsor in site.sponsors %}
	<li>
	  <a href="{{site.baseurl}}{{sponsor.url}}">{{sponsor.name}}</a>
	</li>
	{% endfor %}
      </ul>
    </li>

    <li>
      <h2>Équipes amies</h2>
      <ul>
	{% for friend in site.data.friends %}
	<li>
	  <a href="{{friend.link}}">{{friend.name}}</a>
	</li>
	{% endfor %}
      </ul>
    </li>

    
    <li>
      <h2>Autres liens</h2>
      <ul>
	{% for link in site.data.links %}
	<li>
	  <a href="{{link.url}}">{{link.name}}</a>
	</li>
	{% endfor %}
      </ul>
    </li>
  </ul>
</div>
