<div id="sidebar1" class="sidebar">
  <ul>
    <li>
      <h2>Recent Posts</h2>
      <ul>
	{% for post in site.posts limit: 5 %}
	<li>
	  <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
	  <em>{{post.date | date: "%Y-%m-%d"}}</em>
	</li>
	{% endfor %}
      </ul>
    </li>

    <li>
      <h2>Partners</h2>
      <ul>
	{% for sponsor in site.sponsors %}
	<li>
	  <a href="{{sponsor.website}}">{{sponsor.name}}</a>
	</li>
	{% endfor %}
      </ul>
    </li>

    <li>
      <h2>Friend Teams</h2>
      <ul>
	<li>
	  <a href="http://eirbot.eirb.fr/">Eirbot</a>
	</li>
	<li>
	  <a href="http://robotter.free.fr/wp/">Rob'otter</a>
	</li>
	<li>
	  <a href="http://www.labx.fr/">L@Bx</a>
	</li>
      </ul>
    </li>

    
    <li>
      <h2>Links</h2>
      <ul>
	<li>
	  <a href="https://github.com/astralien3000/projet2016/issues">Forum</a>
	</li>
	<li>
	  <a href="https://github.com/astralien3000/buggybot2">Buggybot</a>
	</li>
	<li>
	  <a href="https://github.com/astralien3000/ceres">Cérès</a>
	</li>
      </ul>
    </li>
      
    <!--
	<li>
	  <h2>Team members</h2>
	  <ul>
	    {% for member in site.members %}
	    <li>
	      <a href="{{site.baseurl}}/team.html">
		{{member.pseudo}}
	      </a>
	    </li>
	    {% endfor %}
	  </ul>
	</li>
	-->
  </ul>
</div>
